/* LAYOUT */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
    max-height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    font-family: "Open Sans", sans-serif;
}

h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.2em;
}

h2 {
    font-size: 3.2rem;
    line-height: 1.2em;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 2rem;
}

footer {
    background-color: aquamarine;
}

.content {
    background-color: #8788dc;
}


/* NAVIGATION */

.site-nav {
    display: flex;
}

.site-nav a {
    display: block;
    padding: 1rem;
}

.site-nav .logo {
    font-weight: bold;
    padding-left: 0;
}

.main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 48rem) {
    .site-nav,
    .main-menu {
        flex-direction: column;
    }

    .site-nav a {
        padding: 0.5rem;
        padding-left: 0;
    }
}

/* LISTS */

.post-snippet {
    margin-bottom: 1rem;
}

.post-snippet h3 {
    margin-bottom: 0.25rem;
}


/* HeroBanner */

.background-image {
    min-height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title {
    margin-bottom: 1rem;
}

.subtext {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.button {
    font-size: 1.1rem;
    width: 120px;
    height: 40px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
}

.button:hover {
    background-color: #e7e7e7;
}


.text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* MainInfo */

.mainInfo {
    display: block;
    /*margin-bottom: 5rem;*/
}

.containerText {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* CSS is not working properly */

/*.toggleText {*/
/*    display: none;*/
/*}*/

/*#toggle:checked ~ #toggleText {*/
/*    display: block;*/
/*}*/

/*#toggle {*/
/*    opacity: 0;*/
/*}*/

/* ContactAndInfo */

.contactAndInfoContainer {
    /*padding-top: 4rem;*/
    display: flex;
}

.leftSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}

.rightSide {
    width: 50vw;
}

/* OurTeam */

/* Interest */

.interest {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.test {
    background-color: red;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* TextField */

.textField {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
}

.centerButton {
    justify-content: center;
    margin-bottom: 4rem;
}

/* Impressum */

#impressumText {
    display: none;
}

#impressumToggle:checked ~ #impressumText {
    display: block;
}

#impressumToggle:checked ~ #arrow {
    transform: rotate(-135deg);
}

#impressumToggle {
    opacity: 0;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.displayFlex{

}

.marginForImpressum{
    display: flex;
    flex-direction: row;
}