{{ define "main" }}
<header >

<!--    <div>-->
<!--        {{ .FirstSection }}-->
<!--        <a>{{ $ }}</a>-->
<!--    </div>-->
        <div class="menuBar">
            {{ range .Site.Menus.main }}
            <ul class="menuBarItem">
                <li class="menuBarClickable">
                    <a href="{{ .URL }}">{{ .Pre }}{{ .Name}}</a>
                </li>
            </ul>

            {{ end }}
        </div>


</header>
<main role="main">

    <section style="margin-top: 2rem" id="heroBanner">
        <div>
            {{partial "sections/heroBanner.html" . }}
            {{.Content}}
        </div>
    </section>


    <section class="mainInfo" id="main_info">
        {{ with .Site.GetPage "section" "mainInfo" }}<h2>{{ .Params.mainInfo_title }}</h2>{{ end }}
        {{ with .Site.GetPage "section" "mainInfo" }}<p>{{ .Params.mainInfo_subtitle }}</p>{{ end }}
        <div class="containerText">
            {{ range (where .Site.RegularPages.ByWeight "Section" "mainInfo") }}
            {{partial "sections/mainInfo.html" .Params }}
            {{.Content}}
            {{ end }}
        </div>
    </section>

    <section class="contactAndInfoContainer" id="contact">
        {{ range (where .Site.RegularPages "Section" "contactAndInfo") }}
        {{partial "sections/contactAndInfo.html" .Params }}
        {{.Content}}
        {{ end }}
    </section>

    <section class="ourTeam" id="our_team">
        {{ with .Site.GetPage "section" "team" }}<h2>{{ .Params.ourTeam_title }}</h2>{{ end }}
        <div class="containerText">
            {{ range .Site.Data.team }}
            {{partial "sections/ourTeam.html" . }}
            {{.Content}}
            {{ end }}
        </div>
    </section>

    <section class="interest" id="interest">
        {{ range (where .Site.RegularPages "Section" "interest") }}
        {{partial "sections/interest.html" .Params }}
        {{.Content}}
        {{ end }}
    </section>

    <section class="textField" id="text_field">
        {{ range (where .Site.RegularPages "Section" "textField") }}
        {{partial "sections/textField.html" .Params }}
        {{.Content}}
        {{ end }}
    </section>

</main>
{{ end }}