{{ define "main" }}
{{ $headless := .Site.GetPage "/homepage" }}
{{ $sections := $headless.Resources.ByType "page" }}
{{ $sections := cond .Site.BuildDrafts $sections (where $sections "Draft" "==" false) }}
<header {{ with .Params.header_image }}style="background-image: url({{ . }})" {{ end }}>
    <div>
        <div>

            {{ with .Params.header_headline }}<h1>{{ . }}</h1>{{ end }}
            {{ with .Params.header_subheadline }}<h2>{{ . }}</h2>{{ end }}

            {{ range where $sections ".Params.header_menu" "eq" true }}
            <a data-title-anchor='{{ anchorize .Title }}'>{{ .Title }}</a>
            {{ end }}
        </div>
    </div>
</header>
<main role="main">

    <section>
        <div>
            {{ range (where .Site.RegularPages "Section" "products") }}
            {{ partial "product.html" .Params }}
            {{ end }}
        </div>
    </section>

    <section>
        <div>
            {{partial "sections/heroBanner.html" . }}
            {{.Content}}
        </div>
    </section>

    <div>
    </div>
    {{ range $index_val, $elem_val := $sections }}
    <div>
        <article id='{{ anchorize .Title }}'
                 class='post {{ if eq $index_val 0 }}first{{ end }} {{ if eq (add $index_val 1) (len $sections) }}last{{ end }}'>
            <header>
                <h2>{{ .Title }}</h2>
            </header>
            <section>
                {{ .Content }}
            </section>
        </article>
        <div></div>
    </div>
    {{ end }}

    <section class="mainInfo">
        {{ with .Site.GetPage "section" "mainInfo" }}<h2>{{ .Params.mainInfo_title }}</h2>{{ end }}
        {{ with .Site.GetPage "section" "mainInfo" }}<p>{{ .Params.mainInfo_subtitle }}</p>{{ end }}
        <div class="containerText">
            {{ range (where .Site.RegularPages.ByWeight "Section" "mainInfo") }}
            {{partial "sections/mainInfo.html" .Params }}
            {{.Content}}
            {{ end }}
        </div>
    </section>

    <section class="contactAndInfoContainer">
        {{ range (where .Site.RegularPages "Section" "contactAndInfo") }}
        {{partial "sections/contactAndInfo.html" .Params }}
        {{.Content}}
        {{ end }}
    </section>

    <section class="ourTeam">
        {{ with .Site.GetPage "section" "team" }}<h2>{{ .Params.ourTeam_title }}</h2>{{ end }}
        <div class="containerText">
            {{ range .Site.Data.team }}
            {{partial "sections/ourTeam.html" . }}
            {{.Content}}
            {{ end }}
        </div>
    </section>

    <section class="interest">
        {{ range (where .Site.RegularPages "Section" "interest") }}
        {{partial "sections/interest.html" .Params }}
        {{.Content}}
        {{ end }}
    </section>

    <section class="textField">
        {{ range (where .Site.RegularPages "Section" "textField") }}
        {{partial "sections/textField.html" .Params }}
        {{.Content}}
        {{ end }}
    </section>

</main>
{{ end }}